body {
    background-color: blueviolet
}

div {
    font-family: "Devanagari Sangam MN";
}

h1 {
    font-family: "Edwardian Script ITC" !important;
}

h1, div {
    text-align: center;
    margin: auto;
}

.insidePage {
    background-color: blue;
    border: 2px solid goldenrod;
    padding: 5px;
    width: 400px;
}

span {
    margin-left: -14px;
}

ul {
    list-style-position: inside;
}
